<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7"/>
    <!--<customErrors mode="On">
      <error redirect="/libs/templete/404.html" statusCode="500" />
    </customErrors>-->
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="AnonymousAuthenticationModule" />-->
      <!--<remove name="StaticFileModule" />-->
      <!--<remove name="DirectoryListingModule" />-->
      <!--<remove name="DefaultDocumentModule" />-->
      <!--<remove name="CustomErrorModule" />-->
      <remove name="ServiceModel" />
      <remove name="AspNetCoreModule" />
      <remove name="ServiceModel-4.0" />
      <remove name="ScriptModule-4.0" />
      <remove name="UrlRoutingModule-4.0" />
      <remove name="UrlMappingsModule" />
      <remove name="Profile" />
      <remove name="AnonymousIdentification" />
      <remove name="FileAuthorization" />
      <remove name="UrlAuthorization" />
      <remove name="RoleManager" />
      <remove name="DefaultAuthentication" />
      <remove name="FormsAuthentication" />
      <remove name="WindowsAuthentication" />
      <remove name="Session" />
      <remove name="OutputCache" />
      <remove name="WindowsAuthenticationModule" />
      <remove name="WebSocketModule" />
      <remove name="ConfigurationValidationModule" />
      <remove name="FastCgiModule" />
      <remove name="CgiModule" />
      <remove name="RequestFilteringModule" />
      <remove name="HttpRedirectionModule" />
      <remove name="ProtocolSupportModule" />
      <remove name="StaticCompressionModule" />
      <remove name="HttpCacheModule" />
      <remove name="IsapiModule" />
      <remove name="BasicAuthenticationModule" />
      <remove name="IsapiFilterModule" />
      <remove name="DynamicCompressionModule" />
    </modules>
    <handlers accessPolicy="Read, Script">
      <remove name="CGI-exe" />
      <remove name="ISAPI-dll" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="TRACEVerbHandler" />
      <remove name="vbhtml-ISAPI-4.0_64bit" />
      <remove name="vbhtm-ISAPI-4.0_64bit" />
      <remove name="cshtml-ISAPI-4.0_64bit" />
      <remove name="cshtm-ISAPI-4.0_64bit" />
      <remove name="aspq-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="xoml-64-ISAPI-2.0" />
      <remove name="rules-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
      <remove name="aspq-ISAPI-4.0_32bit" />
      <remove name="cshtm-ISAPI-4.0_32bit" />
      <remove name="vbhtm-ISAPI-4.0_32bit" />
      <remove name="TraceHandler-Integrated-4.0" />
      <remove name="AssemblyResourceLoader-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
      <remove name="aspq-Integrated-4.0" />
      <remove name="cshtml-Integrated-4.0" />
      <remove name="vbhtml-Integrated-4.0" />
      <remove name="ScriptResourceIntegrated-4.0" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="AXD-ISAPI-4.0_64bit" />
      <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
      <remove name="vbhtm-Integrated-4.0" />
      <remove name="cshtm-Integrated-4.0" />
      <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
      <remove name="WebServiceHandlerFactory-Integrated-4.0" />
      <remove name="PageHandlerFactory-Integrated-4.0" />
      <remove name="WebAdminHandler-Integrated-4.0" />
      <remove name="vbhtml-ISAPI-4.0_32bit" />
      <remove name="cshtml-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="svc-ISAPI-4.0_64bit" />
      <remove name="svc-ISAPI-2.0" />
      <remove name="rules-Integrated" />
      <remove name="xoml-ISAPI-2.0" />
      <remove name="xamlx-ISAPI-4.0_64bit" />
      <remove name="xamlx-Integrated-4.0" />
      <remove name="xoml-ISAPI-4.0_64bit" />
      <remove name="xoml-Integrated-4.0" />
      <remove name="svc-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="svc-Integrated-4.0" />
      <remove name="xoml-ISAPI-4.0_32bit" />
      <remove name="rules-Integrated-4.0" />
      <remove name="rules-ISAPI-4.0_64bit" />
      <remove name="xamlx-ISAPI-4.0_32bit" />
      <remove name="svc-Integrated" />
      <remove name="svc-ISAPI-2.0-64" />
      <remove name="xoml-Integrated" />
      <remove name="rules-ISAPI-2.0" />
      <remove name="rules-64-ISAPI-2.0" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <add name="AdministerHandler" path="*." verb="*" type="MyWebApi.AdministerHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>